
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	font-family: "微軟正黑體", "Microsoft JhengHei";
}

//==============Responsive================
$pc-media: 1024px;
$pad-media: 640px;
@mixin pc-width() {
	@media only screen and (min-width: $pc-media) {
		@content;
	}
}
@mixin pad-width() {
	@media only screen and (min-width: $pad-media) {
		@content;
	}
}

//==========================================

.gtx-web{
	width: 100%;
	height: 100%;
	.topbar{
		z-index: 9;
		position: fixed;
		top: 0px;
		width: 100%;
		height: 50px;
		font-size: 1.5em;
		text-align: center;
		color: white;
		background-color: #438eb9;
		white-space: nowrap;

		display: flex;
		align-items: center;
		justify-content: center;
		.title{
			color: white;
			text-decoration: none;
			display: none;
			@include pad-width(){
				display: block;
			}
		}
		.menu-icon{
			width: 30px;
			height: 30px;
			position: absolute;
			top: 10px;
			left: 10px;
			cursor: pointer;
		}
	}
	.bar-padding{
		width: 100%;
		height: 50px;
	}

	.side-panel{
		z-index: 10;
		position: fixed;
		top: 50px;
		left: -250px;
		&.open{
			left: 0px;
		}
		-webkit-transition: left 0.5s ease;
	    transition: left 0.5s ease;
		height: 100%;
		width: 250px;
		overflow-y: auto;
		max-width: calc(100% - 50px);
		background-color: #f2f2f2;
		border: 1px solid #ccc;
		ul{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			a{
				color: black;
				text-decoration: none;
			}
			li{
				display: flex;
				align-items: center;
				&::before{
					content: "►";
					margin: 0px 10px;
				}
				&.active{
					background-color: white;
					color: #2b7dbc;
				}
				padding: 20px 10px;
				width: 100%;
				border-bottom: 1px solid #ccc;
				cursor: pointer;
			}
		}
	}

	.main-content{
		position: absolute;
		top: 50px;
		right: 0px;
		width: 100%;
		height: calc(100% - 50px);
		-webkit-transition: left 0.5s ease;
	    transition: left 0.5s ease;
	    -webkit-transition: width 0.5s ease;
	    transition: width 0.5s ease;
		#map{
			width: 100%;
			height: 100%;
		}
		.page-content{
			padding: 20px;
			.page-header{
				border-bottom: 1px dotted #e2e2e2;
				padding-bottom: 16px;
				padding-top: 7px;
				margin: 0 0 12px;
			}
			h1{
				color: #2679b5;
				font-size: 1.5em;
			}
			h3{
				margin: 20px 0px 10px 0px;
			}
			li{
				padding: 5px;
			}
			.table-container{
				max-width: 100%;
				overflow-x: auto;
			}
		}
	}
}
